<div class="olp-header">
    <a class="logo_wrapper"><div class="logo icon icon_Logo"></div></a>
    <nav class="right-nav closed_nav">
        <div class="toggle_menu_wrapper" hidden>
            <div class="slide_toggle toggle-slide">
                <span class="fa fa-bars" pointer></span>
            </div>
        </div>
        <div class="facility_dropdown_wrapper">
            <div class="app-drop-downs"></div>
        </div>
        <ul class="user-menu-wrapper">
            <li class="user-menu">
                <span class="user-name"><i class="fa fa-user"></i>data.name</span>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                <ul>
                    <li id="logout">
                        <span pointer><i class="fa fa-sign-out pull-right"></i> Log Out</span>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="notification-wrapper">
            <div class="notification-section">
                <div id="importJobs" class="import-jobs"></div>
                <div id="exportJobs" class="export-jobs"></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="progress-line">
            <div class="line"></div>
        </div>
    </nav>
    <div id="loggingOut">
        <div class="message"></div>
    </div>
</div>
