<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= htmlWebpackPlugin.options.metadata.faviconPath %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
    <!-- base url -->
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js"></script>
</head>
<body>
    <app>
        Loading...
    </app>
    <script>
        (function(window) {
            var environmentInfo = localStorage.getItem("bootConfig") || "";
            if(environmentInfo) {
                environmentInfo = JSON.parse(environmentInfo);
            }
            window.remoteCDNUrl = environmentInfo.remoteCDNUrl || '/';
            window.remoteServerUrl = environmentInfo.remoteServerUrl || '/';

            var appendStyleToHead = function(filePath) {
                var head = document.getElementsByTagName('head')[0];
                var sheet = document.createElement('link');
                sheet.type = "text/css";
                sheet.rel = "stylesheet";
                sheet.media = 'all';
                sheet.href = filePath;
                head.appendChild(sheet);
            }
            window.onload = function() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if(this.status == 200) {
                            var imports = JSON.parse(xhttp.responseText);
                            imports = JSON.parse(imports);
                            var jsFiles = imports.jsAssets;
                            jsFiles = jsFiles.map(function(item) {
                                return window.remoteCDNUrl + item;
                            });
                            head.load(jsFiles);
                            imports.cssAssets.map(function (file) {
                                appendStyleToHead(window.remoteCDNUrl + file);
                            });
                        } else {
                            // call app init failed
                        }
                    }
                };
                xhttp.open("GET", "/src/externalAssets.json", true);
                xhttp.send();
            };
        })(window);
    </script>
    <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->

</body>
</html>